@import "../../style/variables.scss";

$ticketHeight: 125px;
$ticketPadding: 25px;

.donationsContainer {
  @include colWrapper();
  width: 75%;
  .donationTicket {
    @include ticketStyles();
    min-height: $ticketHeight - ($ticketPadding * 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.9rem;
    line-height: normal;
  }
  .instructions, .loading {
    height: $ticketHeight;
    display: flex;
    align-items: center;
    padding-left: $ticketPadding;
    font-weight: 600;
  }
}
