@import "../../style/variables.scss";

.donationsContainer {
  @include colWrapper();
  width: 75%;
  .donationTicket {
    @include ticketStyles();
    padding: 25px;
    font-size: 0.95rem;
  }
  .instructions {
    height: 125px;
    display: flex;
    align-items: center;
    padding-left: 25px;
    font-weight: 600;
  }
}
