@import "../../style/variables.scss";

header {
  height: 60px;
  display: flex;
  padding: 0 ($GlobalPadding * 2);
  margin-bottom: 1px;
  box-shadow: $BoxShadow;
  img.logo {
    width: 150px;
    height: 50px;
    display: flex;
    align-self: center;
    margin-right: 25px;
  }
}
