// Put variables, reusables, mixins etc here

// Globals (caps)
$GlobalPadding: 1rem;

$colPadding: 1rem;

@mixin colWrapper() {
  // display: flex;
  // flex-direction: column;
  // justify-content: space-evenly;
  padding: $colPadding;
  &:hover {
    box-shadow: 1px 1px 3px rgba(33,33,33,.2);
  }
}
